.example-card{
    width: 300px;
    height: 400px;
    display: inline-table;
    
}
 :host /deep/ .mat-card-image {
    width: calc(100% + 48px);
    margin: 0 -24px 16px -24px;
    height: 500px;
 }
 .sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}