.example-card{
    width: 100%;
    height: auto;
    display: inline-table;
    background-size: contain;
    background-repeat: no-repeat;
    
}

 :host /deep/ .mat-card-image {
    width: calc(100% + 48px);
    margin: 0 -24px 16px -24px;
    height: 500px;
 }
 /*.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}*/

.sidenav-content {
  position: relative;
    display: inline-grid;
    border-radius: 5px;
    padding: 5px;
    /*height: 80px;*/
    cursor: pointer;
    /*background-color: #f5f5f5;*/
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    /*overflow: hidden;*/
}