  <!--<md-toolbar>
    <span>Mr. Photographer</span>
    <span class="example-spacer"></span>
    <span class="options"><a [routerLink]="['/sidenav']" style = "text-decoration: none;
    color: black;"> Home</a></span>
    <span class="options">About</span>
  </md-toolbar>
  <div class="sidenav-content" *ngIf='show'>
    <na-sidenav-content (categoryEmitter)="showImages($event)"></na-sidenav-content>
  </div>
  <div *ngIf='!show'>
    <router-outlet></router-outlet>
  </div>-->
  
<md-toolbar color="primary">
  <span style="font-family: 'Audiowide', cursive;">Mr. Photographer</span>
  <span class="fill-remaining-space" style="width: inherit;"></span>
  <span class="instagram" (click)="goInstagram()"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm style="display: block !important;">
    <na-sidenav-content (categoryEmitter)="showImages($event)" style="display: inline-flex; float: right !important;"></na-sidenav-content>
  </div>
  <button md-button [mdMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>
</md-toolbar>
<div (window:resize)="onResize($event)">
</div>
<md-menu #menu="mdMenu" [overlapTrigger]="false" class="my-full-width-menu" style="width:100%">
  <na-sidenav-content id="inner" (categoryEmitter)="showImages($event)"></na-sidenav-content>
</md-menu>
<router-outlet></router-outlet>
