  <!--<md-toolbar>
    <span>Mr. Photographer</span>
    <span class="example-spacer"></span>
    <span class="options"><a [routerLink]="['/sidenav']" style = "text-decoration: none;
    color: black;"> Home</a></span>
    <span class="options">About</span>
  </md-toolbar>
  <div class="sidenav-content" *ngIf='show'>
    <na-sidenav-content (categoryEmitter)="showImages($event)"></na-sidenav-content>
  </div>
  <div *ngIf='!show'>
    <router-outlet></router-outlet>
  </div>-->
<md-toolbar color="primary">
  <span class="logo"></span>
    <!--<button md-button routerLink="/">-->
    <!--<md-icon>home</md-icon> 
        title</button>-->

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <na-sidenav-content (categoryEmitter)="showImages($event)" style="display: inline-flex;"></na-sidenav-content>
    </div>
    <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <md-icon>menu</md-icon>
    </button>

</md-toolbar>
<!--<div class="content">
  <na-sidenav-content (categoryEmitter)="showImages($event)" style="
    display: inline-flex;"></na-sidenav-content>
    <router-outlet></router-outlet>
</div>-->

    
<!--<md-menu x-position="before" #menu="mdMenu">-->
  <md-menu #menu="mdMenu" [overlapTrigger]="false" class="my-full-width-menu">
    <na-sidenav-content (categoryEmitter)="showImages($event)" style="display: block;"></na-sidenav-content>
    <!--<button md-button routerLink="/products" style="width: 100%;">PORTRAIT</button>
    <button md-button routerLink="/dashboard" style="width: 100%;">LANDSCAPE</button>
    <button md-button routerLink="/dashboard" style="width: 100%;">MATERNITY</button>
    <button md-button routerLink="/products" style="width: 100%;">ABOUT ME</button>
    <button md-button routerLink="/dashboard" style="width: 100%;">CONTACT</button>-->
</md-menu>
<router-outlet></router-outlet>
