<!--<div class="main-container">-->
  <!--<div #wrapper>-->
    <md-sidenav-container class="container" fullscreen>
      <!--<div class="sidenav-container">-->
        <!--<md-sidenav #sidenav class="sidenav-wrapper" mode="push" opened="true">-->
        <md-sidenav #sidenav class="sidenav-wrapper" [mode]="isLargeScreen() ? 'push' : 'over'" [opened]="isLargeScreen()">

          <na-sidenav></na-sidenav>
        </md-sidenav>
      <!--</div>-->
      <div class="sidenav-content" *ngIf='show'>
      <!--<button type="button" md-button (click)="toggle()">-->
        <na-sidenav-content (categoryEmitter)="showImages($event)"></na-sidenav-content>
      <!--</button>-->
      </div>
      <div  *ngIf='!show'>
      <router-outlet></router-outlet>
      </div>
    </md-sidenav-container >
  <!--</div>-->
  <!--<div class="content-container">
  </div>-->
<!--</div>-->
