<!--<md-sidenav-container class="container">-->
  <!--<md-sidenav #sidenav class="sidenav-wrapper" mode="push" opened="true">-->
    <button md-Button class="logo" (click)="toggle()">
    </button>                        
    <div class="center-nav">
        <span class="name-nav">Nanda Aung</span>
        <div class="text-nav">
        <p>I am a photographer from Fremont, California. I love to travel around the world and take photos of beautiful people and amazing places.</p>
        </div>
        <div class="title-divider"><div class="td-square"></div><div class="td-line"></div></div>
    </div>
    <button md-Button class="insta-social" (click)="goInstagram()">
    </button> 

  <!--</md-sidenav>-->
